<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Application</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo">Quiz App</h1>
            <nav>
                <ul>
                    <% if (typeof username !== 'undefined') { %>
                        <li><a href="/quiz/setup">New Quiz</a></li>
                        <li><a href="/quiz/scores">My Scores</a></li>
                        <li><a href="/auth/logout">Logout (<%= username %>)</a></li>
                        <li><a><img src="<%= profilePic %>" style="width: 40px;height: 40px;" ></a></li>
                    <% } else { %>
                        <li><a href="/auth/login">Login</a></li>
                        <li><a href="/auth/signup">Sign Up</a></li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </header>
    <main class="container">
