<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<title>QuizBlox</title>
				<link rel="stylesheet" href="/css/style.css">
					<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

	<body class="<%= typeof bodyClass !== 'undefined' ? bodyClass : '' %>">
		<div class="background-animation"></div>

	<header>
		<div class="container">
			<div class="logo-container">
				<a href="/quiz/setup" class="logo-link">
					<h1 class="logo">QuizBlox</h1>
					<img src="/images/quizblox-logo.webp" alt="QuizBlox Logo" class="logo-img">
				</a>
			</div>
			<nav>
				<ul>
					<% if (typeof username !== 'undefined') { %>
					<li>
						<a href="/quiz/setup">New Quiz</a>
					</li>
					<li>
						<a href="/quiz/leaderboard">Leaderboard</a>
					</li>

              		<div class="dropdown-container">
                	<details class="dropdown right">
						<summary class="avatar">
							<img src="<%= typeof profilePic !== 'undefined' ? profilePic : 'https://upload.wikimedia.org/wikipedia/commons/2/2c/Default_pfp.svg' %>" alt="Avatar" class="avatar-img" />
						</summary>
						<ul class="dropdown-menu">
							<li><img src="<%= typeof profilePic !== 'undefined' ? profilePic : 'https://upload.wikimedia.org/wikipedia/commons/2/2c/Default_pfp.svg' %>" alt="Avatar" class="avatar-img" /></li>
							<li><span class="block bold">Hello, <%= username %>!</span></li>
							<li><a href="/auth/profile">Profile</a></li>
							<hr>
							<li><a href="/auth/logout">Logout</a></li>
						</ul>
                	</details>
              </div>
					<% } else { %>
					<li>
						<a href="/auth/login">Login</a>
					</li>
					<li>
						<a href="/auth/signup">Sign Up</a>
					</li>
					<% } %>
				</ul>
			</nav>
		</div>
	</header>
	<script>
	const dropdown = document.querySelector('.dropdown');
	const dropdownContainer = document.querySelector('.dropdown-container');

	function closeDropdown(e) {
		if (!dropdownContainer.contains(e.target)) {
		dropdown.removeAttribute('open');
		}
	}

	document.addEventListener('click', closeDropdown);
	</script>
	</body>

	<main class="container">
