<!DOCTYPE html>
<html>
  <head>
    <title><%= Quiz %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Quiz %></h1>
    <p>Welcome to <%= QuizApp %></p>
    <button id = "Button"  >GOTO Quiz</button>
  
  <script src="/javascripts/script.js"></script>
  </body>
</html>
