<!DOCTYPE html>
<html>
  <head>
    <title><%= Quiz %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Quiz %></h1>
    <p>Welcome to <%= QuizApp %></p>
    <form action="/questions" type="GET">
      <input type="number" name="TotalQuestions" min="1" value="10">
      <input type="submit" >GOTO Quiz</button>
    </form>
  
  <script src="/javascripts/script.js"></script>
  </body>
</html>
