 option{

    font-size: 1.2em;
    padding: 10px 0;
    text-align: center;
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
    border:rgb(204, 204, 0) solid 1px;
    border-radius: 5px;
    color: rgb(204, 204, 0);
  }

select{
  outline: none;
  height: 44px;
  border: none;
  overflow: hidden;
} 